body {
  font-family: "Gochi Hand", cursive;
}

p {
  margin: 0;
}

#scoreboard {
  width: 650px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  margin-block-start: 0;
  flex-wrap: wrap;
}
#scoreboard .scoreboard__player-container {
  width: 6em;
}
#scoreboard .scoreboard__player-container p.scoreboard__player-turn-indicator {
  box-sizing: border-box;
  width: 100%;
  border: grey 2px solid;
  border-radius: 2em;
  text-align: center;
  padding: 0.5em;
  font-size: 40px;
}
#scoreboard .scoreboard__player-container p.scoreboard__player-turn-indicator.scoreboard__player-turn-indicator_active {
  color: white;
  background-color: pink;
}
#scoreboard .scoreboard__player-container p.scoreboard__player-turn-indicator.scoreboard__player-turn-indicator_won {
  position: relative;
  color: white;
  background-color: #fc90a2;
  animation: lighter 2s infinite;
}
@keyframes lighter {
  50% {
    background-color: pink;
  }
}
#scoreboard .scoreboard__score-container {
  font-size: 40px;
  width: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}
#scoreboard .scoreboard__score-container .scoreboard__player-score-indicator {
  width: 48%;
}
#scoreboard .scoreboard__score-container .scoreboard__player-score-indicator:first-of-type {
  text-align: right;
}
#scoreboard .scoreboard__score-container span {
  width: 4%;
}
#scoreboard #scoreboard__message {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin: 0;
  height: 1em;
}

#gameboard {
  box-sizing: border-box;
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  display: block;
  overflow: hidden;
}
#gameboard #gameboard__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
#gameboard #gameboard__container .gameboard__square {
  height: 200px;
  width: 200px;
  font-size: 6em;
  line-height: 2.25;
  color: black;
  border-color: transparent;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  user-select: none;
}
#gameboard #gameboard__container .gameboard__square:nth-of-type(1) {
  border-right-color: grey;
  border-bottom-color: grey;
}
#gameboard #gameboard__container .gameboard__square:nth-of-type(2) {
  border-left-color: grey;
  border-bottom-color: grey;
  border-right-color: grey;
}
#gameboard #gameboard__container .gameboard__square:nth-of-type(3) {
  border-left-color: grey;
  border-bottom-color: grey;
}
#gameboard #gameboard__container .gameboard__square:nth-of-type(4) {
  border-top-color: grey;
  border-right-color: grey;
  border-bottom-color: grey;
}
#gameboard #gameboard__container .gameboard__square:nth-of-type(5) {
  border-color: grey;
}
#gameboard #gameboard__container .gameboard__square:nth-of-type(6) {
  border-top-color: grey;
  border-left-color: grey;
  border-bottom-color: grey;
}
#gameboard #gameboard__container .gameboard__square:nth-of-type(7) {
  border-top-color: grey;
  border-right-color: grey;
}
#gameboard #gameboard__container .gameboard__square:nth-of-type(8) {
  border-left-color: grey;
  border-right-color: grey;
  border-top-color: grey;
}
#gameboard #gameboard__container .gameboard__square:nth-of-type(9) {
  border-top-color: grey;
  border-left-color: grey;
}
#gameboard #gameboard__container .gameboard__square.gameboard__square_playable {
  cursor: pointer;
}
#gameboard #gameboard__container .gameboard__square.gameboard__square_highlight {
  color: #fc90a2;
  animation: winningRowAnimation 2s infinite;
}
@keyframes winningRowAnimation {
  50% {
    color: pink;
  }
}
#gameboard .gameboard__strikethrough {
  position: absolute;
  height: 135%;
  z-index: -1;
  background-image: url(../images/minus-solid.svg);
  background-repeat: no-repeat;
}
#gameboard .gameboard__strikethrough.gameboard__strikethrough_squares-1-5-9 {
  transform: rotate(45deg);
  top: -15%;
  left: -4%;
  width: 110%;
}
#gameboard .gameboard__strikethrough.gameboard__strikethrough_squares-3-5-7 {
  transform: rotate(-45deg);
  top: -17%;
  left: -4%;
  width: 110%;
}
#gameboard .gameboard__strikethrough.gameboard__strikethrough_squares-1-2-3 {
  transform: rotate(1deg);
  top: -38%;
  left: 4%;
  width: 90%;
}
#gameboard .gameboard__strikethrough.gameboard__strikethrough_squares-4-5-6 {
  transform: rotate(-2deg);
  top: -5%;
  left: 5%;
  width: 90%;
}
#gameboard .gameboard__strikethrough.gameboard__strikethrough_squares-7-8-9 {
  transform: rotate(1deg);
  top: 28%;
  left: 5%;
  width: 90%;
}
#gameboard .gameboard__strikethrough.gameboard__strikethrough_squares-1-4-7 {
  transform: rotate(89deg);
  width: 90%;
  top: -18%;
  left: -38%;
}
#gameboard .gameboard__strikethrough.gameboard__strikethrough_squares-2-5-8 {
  transform: rotate(91deg);
  width: 90%;
  top: -19%;
  left: -7%;
}
#gameboard .gameboard__strikethrough.gameboard__strikethrough_squares-3-6-9 {
  transform: rotate(92deg);
  width: 90%;
  top: -19%;
  left: 24%;
}

/*# sourceMappingURL=styles.css.map */
