$yellow: #FFB600;
$blue: #44A9CC;
$scarlet: #EB563A; 
$peach: #e9c6b4;
$teal: #50BCB9;
$brown:#913a26;
$border-color: $peach;

body {
    font-family: 'Outfit', sans-serif;
    background-color: $peach;
}

p {
    margin: 0;
}

#scoreboard {
    width: 650px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    margin-block-start: 0;
    flex-wrap: wrap;

    .scoreboard__player-container {

        p.scoreboard__player-turn-indicator {
            box-sizing: border-box;
            width: 100%;
            border-bottom: $border-color 3px solid;
            text-align: center;
            font-size: 40px;
        }

        p.scoreboard__player-turn-indicator.scoreboard__player-turn-indicator_active {
            color: $brown;
            border-bottom: $brown 3px solid;
        }

        p.scoreboard__player-turn-indicator.scoreboard__player-turn-indicator_won {
            color: $scarlet;
            border-bottom-color: $scarlet;
            position: relative;
            animation: lighter 2s infinite;

            @keyframes lighter {
                33% {
                    color: $brown;
                    border-bottom-color: $brown;
                }
            }
        }
    }

    .scoreboard__score-container {
        font-size: 40px;
        width: 10em;
        display: flex;
        align-items: center;
        justify-content: center;

        .scoreboard__player-score-indicator{
            width: 48%;
        }
        .scoreboard__player-score-indicator:first-of-type{
            text-align: right;
        }
        span {
            width: 4%;
        }

    }

    #scoreboard__message {
        width: 100%;
        text-align: center;
        font-size: 2em;
        margin: 0;
        height: 1em;
        margin-bottom: 1em;
    }
}

#gameboard {
    box-sizing: border-box;
    max-width: 650px;
    margin: 0 auto;
    position: relative;
    display: block;
    overflow: hidden;

    #gameboard__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;

        .gameboard__square {
            background-color: $brown;
            height: 200px;
            width: 200px;
            font-size: 6em;
            line-height: 1.95;
            color: $scarlet;
            text-shadow: 
            0 7px 0 $yellow, 
            0 14px 0 $blue;
            border-color: $border-color;
            border-radius: .2em;
            border-style: solid;
            border-width: 5px;
            text-align: center;
            user-select: none;
        }
        .gameboard__square:nth-of-type(1) {
            border-right-color: $border-color;
            border-bottom-color: $border-color;
        }
        .gameboard__square:nth-of-type(2) {
            border-left-color: $border-color;
            border-bottom-color: $border-color;
            border-right-color: $border-color;
        }
        .gameboard__square:nth-of-type(3) {
            border-left-color: $border-color;
            border-bottom-color: $border-color;
        }
        .gameboard__square:nth-of-type(4) {
            border-top-color: $border-color;
            border-right-color: $border-color;
            border-bottom-color: $border-color;
        }
        .gameboard__square:nth-of-type(5) {
            border-color: $border-color;
        }
        .gameboard__square:nth-of-type(6) {
            border-top-color: $border-color;
            border-left-color: $border-color;
            border-bottom-color: $border-color;
        }
        .gameboard__square:nth-of-type(7) {
            border-top-color: $border-color;
            border-right-color: $border-color;
        }
        .gameboard__square:nth-of-type(8) {
            border-left-color: $border-color;
            border-right-color: $border-color;
            border-top-color: $border-color;
        }
        .gameboard__square:nth-of-type(9) {
            border-top-color: $border-color;
            border-left-color: $border-color;
        }

        .gameboard__square.gameboard__square_playable {
            cursor: pointer;
        }

        .gameboard__square.gameboard__square_highlight {
            color: $scarlet;
            animation: winningRowAnimation 1s infinite;
            @keyframes winningRowAnimation {
                33% {
                    color: $blue;
                    text-shadow: 
                    0 7px 0 $scarlet, 
                    0 14px 0 $yellow;
                }
                66% {
                    color: $yellow ;
                    text-shadow: 
                    0 7px 0 $blue, 
                    0 14px 0 $scarlet;
                }
                100%{
                    color: $scarlet;
                    text-shadow: 
                    0 7px 0 $yellow, 
                    0 14px 0 $blue;
                }
            }
        }
    }

    .gameboard__strikethrough {
        position: absolute;
        height: 135%;
        z-index: 2;
        background-image: url(../images/minus-solid.svg);
        background-repeat: no-repeat;
    }
    .gameboard__strikethrough.gameboard__strikethrough_squares-1-5-9 {
        transform: rotate(45deg);
        top: -15%;
        left: -4%;
        width: 110%;
    }
    .gameboard__strikethrough.gameboard__strikethrough_squares-3-5-7 {
        transform: rotate(-45deg);
        top: -17%;
        left: -4%;
        width: 110%;
    }
    .gameboard__strikethrough.gameboard__strikethrough_squares-1-2-3 {
        transform: rotate(1deg);
        top: -38%;
        left: 4%;
        width: 90%;
    }
    .gameboard__strikethrough.gameboard__strikethrough_squares-4-5-6 {
        transform: rotate(-2deg);
        top: -5%;
        left: 5%;
        width: 90%;
    }
    .gameboard__strikethrough.gameboard__strikethrough_squares-7-8-9 {
        transform: rotate(1deg);
        top: 28%;
        left: 5%;
        width: 90%;
    }
    .gameboard__strikethrough.gameboard__strikethrough_squares-1-4-7 {
        transform: rotate(89deg);
        width: 90%;
        top: -18%;
        left: -38%;
    }
    .gameboard__strikethrough.gameboard__strikethrough_squares-2-5-8 {
        transform: rotate(91deg);
        width: 90%;
        top: -19%;
        left: -7%;
    }
    .gameboard__strikethrough.gameboard__strikethrough_squares-3-6-9 {
        transform: rotate(92deg);
        width: 90%;
        top: -19%;
        left: 24%;
    }
}
